/*
Colours used:
Background Color 1 & Text Color (White): #f8f4f2
Background Color 2 & Text Color (Dark Blue): #2a2e3a
Text Color dark BG (Light Blue): #84909c
Text Colour Light BG (Black):
Button Color (Bergundy): #562131
*/
body {
  font-family:'Montserrat', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color:#000000;
}
h1,h2, h3, h4 {
  line-height: 1.5;
}

h1 {
  font-size: 2.20em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.55em;
  font-weight: 600;
}

h4 {
  font-size: 1.20em;
  font-weight: 600;
}

a {
  color: #2a2e3a;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #84909c;
  text-decoration: underline;
}
a:active {
  color:#562131;
  text-decoration: underline;
}

img {
  width: 100%;
}

.button {
  display:inline-block;
  background-color:#562131;
  color:#f8f4f2;
  font-weight:600;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid;
  transition: 0.2s opacity;
}
.button:hover {
  background-color:#84909c;
  color:#2a2e3a;
  text-decoration:none;
}
.button:active {
  background-color: #2a2e3a;
  color: #f8f4f2;
  text-decoration:none;
}


.button.resume {
  background-color:#562131;
  color:#f8f4f2;
}
.button.resume:hover {
  background-color:#84909c;
  color:#2a2e3a;
  text-decoration:none;
}
.button.resume:active {
  background-color: #2a2e3a;
  color: #f8f4f2;
  text-decoration:none;
}

.button.contact {
  background-color:#2a2e3a;
  color:#f8f4f2;
}
.button.contact:hover {
  background-color:#84909c;
  color:#2a2e3a;
  text-decoration:none;
}
.button.:active {
  background-color:#562131;
  color: #f8f4f2;
  text-decoration:none;
}
